@{
    ViewBag.Title = "About us";
    ViewBag.Message = "Learn more about ClaySys";
    <link href="~/Content/Styles/About.css" rel="stylesheet" />
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p>
        ClaySys was founded to deliver technology solutions that positively impacted the business, versus just technology solutions that were technically excellent, but may not have delivered on the key business objectives. We achieve this through a structured methodology that maps the business impact on every aspect of the technology solution being designed and developed. The core team at ClaySys are tenured IT Consultants who were involved in large scale technology projects starting from the early nineties. The innovative key-employee retention policies and incentives that we have structured ensure that our key employees stay with ClaySys for the long term, thus delivering incremental value to our clients, as we understand their business better. Our investments into product development to address some of the major holistic pain points related to software development and maintenance, keep us on the cutting edge of technology and well positioned to deliver exponential value to our clients.
    </p>

    <section aria-labelledby="technology">
        <h3 id="technology">Technology</h3>
        <p>
            ClaySys is primarily a technology company, and we have been at the forefront of Information Technology and Electronics for more than a decade. Our strengths are building cutting edge software and software products.
        </p>
    </section>

    <section aria-labelledby="lifestyle">
        <h3 id="lifestyle">Lifestyle</h3>
        <p>
            ClaySys diversified into the construction business when we saw an opportunity with how technology was actively entering homes. Today ClaySys Lifestyle constructs apartments and villas in the city of Kochi in Kerala that are of a standard that is not typically found in India.
        </p>
    </section>

    <section aria-labelledby="infrastructure">
        <h3 id="infrastructure">Infrastructure</h3>
        <p>
            With the growing demand for quality office space, and the growth of ClaySys Technologies, we diversified into the infrastructure development business. Our first project is a Commercial Office Campus in Infopark Phase 2 which is the SEZ at Kochi in Kerala.
        </p>
    </section>

    <section aria-labelledby="hospitality">
        <h3 id="hospitality">Hospitality</h3>
        <p>
            The ClaySys Hospitality business evolved from our need to provide good leisure and employee support options at the ClaySys Technologies office and new ClaySys Infrastructure campus. ClaySys Hospitality provides quality food services within Infopark Kochi.
        </p>
    </section>
    
        
   
   
</main>
